<div class="container">
    <div class="row mb-3">
        <div class="col-12">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <app-addform-worker (addWorker)="onAddWorker($event)"></app-addform-worker>
    <app-table-workers *ngIf="workers" [title]="'Программисты'" [workers]="getByType(myWorkerType.programmer)" (deleteWorker)="onDeleteById($event)" (editWorker)="onEditWorker($event)"></app-table-workers>
    <app-table-workers *ngIf="workers" [title]="'Дизайнеры'" [workers]="getByType(myWorkerType.designer)" (deleteWorker)="onDeleteById($event)" (editWorker)="onEditWorker($event)"></app-table-workers>
    <app-table-workers *ngIf="workers" [title]="'Рекламщики'" [workers]="getByType(myWorkerType.copywriter)" (deleteWorker)="onDeleteById($event)" (editWorker)="onEditWorker($event)"></app-table-workers>
    <app-table-workers *ngIf="workers" [title]="'Менеджеры'" [workers]="getByType(myWorkerType.manager)" (deleteWorker)="onDeleteById($event)" (editWorker)="onEditWorker($event)"></app-table-workers>
    <div *ngIf="!workers">
        <div class="cssload-thecube">
            <div class="cssload-cube cssload-c1"></div>
            <div class="cssload-cube cssload-c2"></div>
            <div class="cssload-cube cssload-c4"></div>
            <div class="cssload-cube cssload-c3"></div>
        </div>
    </div>
    <hr />